body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: #2d24af;
    font-size: 16px;
    padding-bottom: 100px;
}

h1 {
    font-weight: 100;
    font-size: 80px;
    margin-left: 0.8em
}


h2 {
    font-weight: 200;
    margin-left: 2.85em
    }


.section {
    display: flex;
    align-items: baseline;
    padding: 20px;
    margin-left: 3em;
}
.header {
    font-size: 24px;
    margin-right: 20px;
}
.content {
    flex: 1;
    margin-left: 60px;
}
.paragraph {
    margin-bottom: 30px;
}
.button {
    padding: 10px 20px;
    border: 1px solid #2d24af;; 
    border-radius: 20px;
    background-color: transparent; 
    color: #2d24af;; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    display: inline-block;
}
.button:hover {
    background-color: #2d24af;;
    color: white;
}
