  body {
        margin: 0;
        padding: 0;
        background-color: #000000;
        font-family: "neue-haas-grotesk-display", sans-serif;
        color: #ffffff;
        font-size: 16px;
        padding-bottom: 100px;
      }
      
      .container {
        padding-top: 60px;
        padding-left: 5em;
        max-width: 800px; 
        margin: 0 auto; 
      }
      
      @media (max-width: 650px) {
      body {
        padding-left: 0em;
      }
       h1 {
          font-size: 30px;
          color: #ffffff;
      }
      }
      
      body {
      font-size: 16px;
      }
      
      /* tablet */
      @media (min-width: 768px) {
      body {
        font-size: 16px;
      }
      }
      
      /* desktop */
      @media (min-width: 992px) {
      body {
        font-size: 16px;
      }
      }
      
      /* wide-screen */
      @media (min-width: 1200px) {
      body {
        font-size: 16px;
        padding-left: 4em;
      }
      }
      
      
      
      
      h1 {
      font-size: 64px;
      font-family: "neue-haas-grotesk-display", sans-serif;
      color: #ffffff;
      }
      
      p {
      max-width: 80%;
      }
      
      .pill {
      font-size: 14px;
      font-family: "neue-haas-grotesk-display", sans-serif;
      color: #000000;
      padding: 0.5em 1em;
      border-radius: 1em;
      border: 1px;
      outline: none;
      background: rgb(255, 255, 255) ;
      cursor: pointer;
      }
      
      .pill:hover {
      background-color: rgb(57, 57, 57) ;
      }
      
      li, a, button {
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      }
      
      header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      }