body {
    cursor: url('img/cursor.png'), auto;
}

@font-face {
    font-family: 'Munchenstein Display L';
    src: url('MunchensteinDisplayL-ExtraLight.woff2') format('woff2'),
        url('MunchensteinDisplayL-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

.destiny_container h2,
.dune_container h2,
.tron_container h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.gallery {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

h2 {
    font-family: 'Munchenstein Display L';
    font-weight: 200;
    font-style: normal;
    font-size: 130px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 50px;
        
    }
}

p {
font-family:  "neue-haas-grotesk-display", sans-serif;
margin-left: 20px;
word-spacing: 5px;
line-height: 1.5;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 13px;
        margin-left: 10px;
    }
}

.box {
    flex: 0 0 auto;
    width: 900px; 
    height: 450px; 
    margin: 0 10px;
    background-color: #f0f0f0;
    border-radius: 15px;

}

@media screen and (max-width: 768px) {
    .box {
        width: 450px; 
        height: 225px;
    }
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 30px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    margin: 10px;
}

.h1-container {
    display: flex;
    align-items: center;
}

.pill-buttons-container {
    display: flex;
    gap: 5px;
}

.pill-button {
    padding: 10px 20px;
    border: 1px solid #000000; 
    border-radius: 20px;
    background-color: transparent; 
    color: #000000; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 15px;
    font-family: 'Munchenstein Display L';
    font-weight: 200;
    font-style: normal;
}

.h1-container h1 {
    margin: 0;
    font-family: 'Munchenstein Display L';
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

    .pill-button:hover {
        background-color: #000000;;
        color: white;
    }

    .active {
        background-color: #000000;
        color: white;
    }

.destiny_container h2,
.dune_container h2,
.tron_container h2 {
    margin-bottom: 10px; 
}

.destiny_container p,
.dune_container p,
.tron_container p {
    margin-bottom: 80px;
    margin-left: 30px;
    
}

svg {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .svg-container {
        width: 40px; 
    }
}

.svg-container {
    margin-left: 30px; 
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.destiny_container, .dune_container, .tron_container {
    width: 105%;
}


p a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

p a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

p a:hover::after {
    width: 100%;
}

